<nav class="navbar p-3">
    <div class="container-fluid">
        <a class="navbar-brand text-light fs-5"><i class="fa-solid fa-globe fa-light fs-3"></i> Globomart</a>
        <form class="d-flex">
            <input class="form-control me-2" size="70px" type="search" placeholder="Search by Category">
            <button class="btn btn-outline-light" type="submit"><i
                    class="fa-solid fa-magnifying-glass fa-rotate-90"></i></button>
        </form>
        <div class="justify-content-end">
            <a routerLink="/wishlist"><button class="btn btn-outline-light border rounded"><i class="fa-solid fa-heart me-2"></i>WishList<span
                class="badge rounded-pill text-bg-secondary ms-2">0</span></button></a>
            <a routerLink="/cart"><button class="btn btn-outline-light border rounded ms-3"><i class="fa-solid fa-cart-plus me-2"></i>Cart<span
                class="badge rounded-pill text-bg-secondary ms-2">0</span></button></a>
            <a routerLink="/login"><button class="btn btn-outline-light border rounded ms-3"><i class="fa-solid fa-user me-2"></i>Login</button></a>
        </div>
    </div>
</nav>