<div class='row mt-5 p-3 text-white w-100' style="background-color: #6c757e">
    <div class="col-md-4 p-4 ms-md-5">
        <h4><i class="fa-solid fa-globe me-2 fs-1"></i>GloboMart</h4>
        <p style="text-Align: 'justify'" class='mt-4'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="col-md-2 p-4 justify-content-center d-md-flex">
        <div>
            <h4>Links</h4>
            <p className='mt-4'>Home Page</p>
            <p>Cart Page</p>
            <p>Wishlist</p>
        </div>
    </div>
    <div class="col-md-2 p-4">
        <h4>Assistance</h4>
        <p class='mt-2'>Angular</p>
        <p>Bootstrap</p>
        <p>Fontawsome</p>
    </div>
    <div class="col-md-3 p-4">
        <h4>Contact Us</h4>
        <div class="d-flex mt-4">
            <input type="text" class='form-control' placeholder='Email Id' />
            <button class='btn ms-3 text-light' style="background-color: #dc3546;">Subscribe</button>
        </div>
        <div class="d-flex mt-4 justify-content-evenly">
            <i class="fa-brands fa-instagram fa-1xl"></i>
            <i class="fa-brands fa-twitter fa-1xl" ></i>
            <i class="fa-brands fa-linkedin fa-1xl"></i>
            <i class="fa-brands fa-facebook fa-1xl"></i>
        </div>
    </div>
    <div class='justify-content-center d-md-flex'>
        <p>Copyright ©️ 2023 Daily Cart. Built with Angular.</p>
    </div>
</div>