<app-header></app-header>
<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <div class="container w-75">
        <div class="shadow p-3 mt-2 rounded">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="d-flex justify-content-center align-items-center" style="color: #dc3546;">Welcome User</h1>
                    <form class="mt-5 w-100 shadow rounded p-4">
                        <div class="mb-3">
                            <input type="text" placeholder="Enter Email" class="form-control">
                        </div>
                        <div class="mb-3 mt-4">
                            <input type="text" placeholder="Enter Password" class="form-control">
                        </div>
                        <div class="mb-3 mt-4">
                            <button class="w-100 border-0 rounded text-light" style="background-color: #dc3546;height: 30px;">Login</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 p-0" style="position: relative;">
                    <img src="https://us.123rf.com/450wm/proimagecontent/proimagecontent1810/proimagecontent181000602/111078004-view-of-young-attractive-woman-with-bright-lipstick-in-black-dress-standing-in-studio-with-paper.jpg?ver=6" alt="" class="w-100 p-0">
                    <div class="text-light" style="position: absolute; margin-top: -350px;">
                        <h1 class="d-flex justify-content-center align-items-center">Din't Have an Account</h1>
                        <p class="mt-5 ms-3 d-flex justify-content-center align-items-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa magni inventore totam cumque error suscipit, tempora quae veritatis accusamus. Cumque nisi saepe voluptatem maxime ipsam facilis a, quia distinctio officiis!</p>
                        <button class="text-light rounded p-2" style="background: transparent;border-color: aliceblue; margin-left: 40%;">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>