<div class="d-flex justify-content-center align-items-center container-fluid" style="height: 100vh;">
    <div class="row w-100">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
            <img src="https://freefrontend.com/assets/img/html-funny-404-pages/HTML-Yeti-404-Page.png" alt="" width="100%" height="450px">
            <h1 class="text-danger mt-3">Look Like You're Lost</h1>
            <a routerLink="/"><button class="btn btn-danger mt-4"><i class="fa-solid fa-backward me-2"></i>Back Home</button></a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
