<app-header></app-header>
<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <div class="container w-75">
        <div class="shadow p-3 mt-2 rounded">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex justify-content-center align-items-center mt-5">
                        <i class="fa-regular fa-circle-user" style="color: #ff0000; font-size: 70px;"></i>
                    </div>
                    <h3 class="d-flex justify-content-center align-items-center mt-3" style="color: #ff0000;">Join Family</h3>
                    <form class="mt-5 w-100 shadow rounded p-4">
                        <div class="mb-3">
                            <input type="text" placeholder="Enter Username" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="text" placeholder="Enter Email" class="form-control">
                        </div>
                        <div class="mb-3 mt-4">
                            <input type="text" placeholder="Enter Password" class="form-control">
                        </div>
                        <div class="mb-3 mt-4">
                            <button class="w-100 border-0 rounded text-light" style="background-color: #dc3546;height: 30px;">Register</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 p-0" style="position: relative;">
                    <img src="https://img.freepik.com/premium-photo/stylish-young-man-with-shopping-bags_1022901-75597.jpg" alt="" class="w-100 p-0">
                    <div class="text-light" style="position: absolute; margin-top: -450px;">
                        <h4 class="d-flex justify-content-center align-items-center mt-5"><i class="fa-solid fa-globe me-2 fs-1"></i>GloboMart</h4>
                        <h1 class="d-flex justify-content-center align-items-center">Already Have an Account</h1>
                        <p class="mt-5 align-items-center ms-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa magni inventore totam cumque error suscipit, tempora quae veritatis accusamus. Cumque nisi saepe voluptatem maxime ipsam facilis a, quia distinctio officiis!</p>
                        <button class="text-light rounded p-2" style="background: transparent;border-color: aliceblue; margin-left: 40%;">SIGN IN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
